
form
{	padding: 20px;
	margin:50px 30%;
	font-size: 50px;	
	width: 40%;
	height: 600px;
	background-color: white;
	text-align: center;
	border-radius: 10px;

}
input
{	width: 350px;
	border: 1px solid blueviolet;
	padding: 10px;
	background-color: white;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
button
{	
	margin: 10px;
	width: 370px;
	padding: 10px;
	background-color: red;
	color: white;
	border: 1px solid red;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
select
{
	width: 370px;
	border: 1px solid darkblue;
	padding: 10px;
	background-color: white;
}
#dangki
{
	background-color: white;
	color: black;
}
a 
{
	text-decoration: none;
	color: black;
}
h3
{
	font-size: 30px;
}
.select-sdt
{
	width: 70px;
}
.input-sdt
{
	width: 270px;
}
.nho
{
	font-size: 15px;
}
a 
{
	color: blue;
}