body
{	
	margin: 0;
	 font-family: 'Ropa Sans', sans-serif;
}
header
{	
	background-color: black;
	overflow: hidden;
	text-align: center;
	border: 5px solid black;
	z-index: 1;
}
header a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
header a:hover
{
	background-color: #aaa89e;
	border-radius: 20px;
}
#dangnhap
{
	background-color: grey;
	border-radius: 5px;
}
#choingay
{
	background-color: #45d3d3;
	border-radius: 10px;
	color: black;
}
ul
{
	list-style-type: none;
	overflow: hidden;
	background-color: black;
	padding: 10px;
}
li
{
	float: left;
}
li a, .dropbtn
{	
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	margin-left: 5px;
	margin-right:5px ;
	box-shadow: 0 3px black;
	transition: box-shadow 0.3s;

}
li a:hover, .dropdown:hover .dropbtn
{
	background-color: #3d3a3a;
	color: white;
	font-weight: bold;
	box-shadow: 0 3px #45d3d3;
	border-radius: 5px;
}
li.dropdown
{
	display: inline-block;
}
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #4c4a4a;
	min-width: 230px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a
{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 10px;
}
.dropdown-content a:hover
{
	background-color: #45d3d3;
	color: white;
	border-radius: 10px;
}
.dropdown:hover .dropdown-content
{
	display: block;
}
#dangnhap
{
	background-color: grey;
	border-radius: 5px;
}
#choingay
{
	background-color: #45d3d3;
	border-radius: 10px;
	color: black;
}
.container
{
	background-color: black;
	height: 10px;
	padding: 50px 0;
	width: 100%;
}
.container a
{	
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container a:hover
{
	background-color: #aaa89e;
	border-radius: 20px;
}
#dangnhap
{
	background-color: grey;
	border-radius: 5px;
}
#choingay
{
	background-color: #45d3d3;
	border-radius: 10px;
	color: black;
}
.container1
{	
	color: white;
	text-align: center;
	margin: 20px;
	border: 1px solid black;
	background-color: #2d2c2c;
	border-radius:0 30px 0 30px;
}
.gallery
{	
	margin-left: 75px;
	margin-right: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 360px;
}
.gallery:hover
{	
	font-weight: bold;
}
.gallery  img
{	
	width: 100%;
	height: 200px;
	transform: scale(1);
	transition: all 0.5s;
}	
.gallery img:hover {
transform: scale(1.2);
}
.desc
{
	padding: 20px;
	
}
.desc a
{
	text-decoration: none;
	color: black;
}
footer
{
	background-color: #3f3939;
	text-align: center;
	width: 100%;
}
.container2
{	
	margin: 20px;
	border: 5px solid black;
}
.container5 
{	
	width: 100%;
	border: 1px 	;
	background-color: black;
	height: 20px;
	padding: 20px 0;
	background-color: #45d3d3;
}
.container5 > a
{
		margin: 50px 0 0 0;
}
.container5 > a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container5 > a:hover
{
	background-color: #aaa89e;
	border-radius: 20px;
}
.container6
{
	height: 400px;
	background-color: black;
	text-align: center;
	color: white;
}
.container6 > a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container6 a:hover
{
	background-color: #aaa89e;
	border-radius: 20px;
}
.row 
{
	display: table;
}
@media screen and (max-width: 768px)
{
	.gallery
	{
		text-align: center;
	}
}